[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easyalluvial"]
	path = easyalluvial
	url = https://github.com/erblast/easyalluvial
[submodule "parcats"]
	path = parcats
	url = https://github.com/erblast/parcats
